<section class="community-trust section-pad">
  <div class="container">
    <span class="label-tag">{{ 'sections.community_trust.label' | t }}</span>
    <h2 class="community-trust__heading">{{ 'sections.community_trust.heading' | t }}</h2>
    <p class="community-trust__sub">{{ 'sections.community_trust.subheading' | t }}</p>
    <div class="trustpilot-badge">
      <span class="trustpilot-badge__stars">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      <span>{{ 'sections.community_trust.rating_text' | t }}</span>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Community Trust",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "t:sections.community_trust.heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "t:sections.community_trust.subheading"
    }
  ],
  "presets": [{ "name": "Community Trust" }]
}
{% endschema %}
