<section class="product-description">
  <div class="product-description__inner">
    <h2 class="product-description__heading">
      {{ 'sections.product_description.heading' | t }}
    </h2>
    <div class="product-description__body">
      {%- if product.description != blank %}
        {{ product.description }}
      {%- else %}
        {{ 'sections.product_description.fallback_body' | t }}
      {%- endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Description",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "t:sections.product_description.heading"
    }
  ],
  "presets": [{ "name": "Product Description" }]
}
{% endschema %}
