<div class="social-proof-line">
  <div class="container">
    <p class="social-proof-line__text">
      <span class="social-proof-line__check">&#10003;</span>
      {{ 'sections.social_proof_line.text' | t }}
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Social Proof Line",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "t:sections.social_proof_line.text"
    }
  ],
  "presets": [{ "name": "Social Proof Line" }]
}
{% endschema %}
